{# src/AppBundle/AdminBundle/Resources/views/Default/listCitizen#}
{% extends '::base.html.twig' %}
{% block pagetitle %}<h1>Citations</h1>{% endblock %}
{% block bodyContent %} 
    {#{% for Citizen in citizens %}
        <p class='text-justify'>&OpenCurlyDoubleQuote;{{Citizen.citizen}}&CloseCurlyDoubleQuote;</p>
        <em class='u-pull-right'>{{Citizen.author}}</em>
        <p class='text-center'>***</p>
    {% endfor %}#}
    <table>
        <thead>
            <tr>               
                <th>Auteur</th>
                <th>Citation</th>
                <th>Publiée</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Citizen in citizens%}
                <tr>                   
                    <td>{{Citizen.author}}</td>
                    <td>&OpenCurlyDoubleQuote;{{Citizen.citizen}}&CloseCurlyDoubleQuote;</td>
                    <td>{%if Citizen.published == 1%}
                        oui
                    {%else%}
                        non
                        {%endif%}
                        </td>
                        <td>{{Citizen.position}}</td>
                        <td>
                            <a  href="{{ path('app_bundle_admin_citizen_home',
                                            {'id' : Citizen.id},
                                            {'citizen': Citizen.citizen},
                                            {'author': Citizen.author},
                                            {'published':Citizen.published},
                                            {'position':Citizen.position}
                           )}}">
                                <a href="">
                                    <img class="edit" src="{{ asset('images/edit.png') }}" alt="modifier"/>
                                </a>
                                &nbsp;
                                <a href="{#{{ path('admin_category_delete',{'id' : Citizen.id})}}#}">
                                    <img class="delete" src="{{ asset('images/delete.png') }}" alt="supprimer"/>
                                </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
                {% endblock %}
                    {% block addBtn %} 
                        <a class="button" id="btn_add" href="{#{{ path('admin_category_add')}}#}">Ajouter une Citation</a>
                    {% endblock %}