{# src/AppBundle/AdminBundle/Resources/views/Default/listGoldBook#}
{% extends '::base.html.twig' %}
{% block pagetitle %}<h1>Goldbook</h1>{% endblock %}
{% block bodyContent %} 
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Publié</th>
                {#<th>Messages</th>#}
            </tr>
        </thead>
        <tbody>
            {% for GoldBook in goldBook%}
                <tr>
                    <td>{{GoldBook.name}}</td>
                    {#<td>{{GoldBook.message}}</td>#}
                    <td>{%if GoldBook.published == 1%}
                        oui
                    {%else%}
                        non
                        {%endif%}
                        </td>
                        <td>
                            <a  href="{{ path('app_bundle_admin_citizen_home',
                                            {'id' : GoldBook.id},
                                            {'name': GoldBook.name},
                                            {'published': GoldBook.published},
                                            {'messages':GoldBook.messages}
                           )}}">
                                <a href="">
                                <img class="edit" src="{{ asset('images/edit.png') }}" alt="modifier" style="width:20%;"/>
                            </a>
                            &nbsp;
                            <a {#href="{{ path('admin_category_delete',{'id' : Citizen.id})}}"#}>
                                <img class="delete" src="{{ asset('images/delete.png') }}" alt="supprimer" style="width:20%;"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
                {% endblock %}
                    {% block addBtn %} 
                        <a class="button" id="btn_add" href="{#{{ path('admin_category_add')}}#}">Ajouter une Citation</a>
                    {% endblock %}